body {
	text-align: center;
}
section {
	display: inline-block;
	border: 1px solid black;
	padding: 2%;
	width: 30%;
}
#principal1{
	display:block;
	width: 500px;
	margin: 50px auto;
	padding: 15px;
	text-align: center;
	border:1px solid blue;
	background-color: #DDDDDD;
}
#principal2{
	text-align: center;
	background-color: #DDDDDD;
}
#principal3{
	text-align: center;
	background: #AAAAAA;
}
#principal1{
	border-radius:25px;
}
#principal2{
	border-radius:50px/25px;
	box-shadow: #aaa 3px 5px 10px;
}
#principal4{
	border-radius:10px;
	box-shadow: #aaa 3px 5px 10px inset;
	margin:20px;
}
#principal2{
	background: -webkit-radial-gradient(center,ellipse,white 7%,darkorange 50%);
}

#principal3{
	background: #AAAAAA;
	border: 10px solid transparent;
	border-image: url("../fotos/iconos/flower.gif") 25% round;
	outline: 2px dashed DarkBlue;
	outline-offset: 1px;
	-webkit-transform: rotate(-10deg) scale(0.9,1.5) translate(10px,10px) skew(-10deg);
}
#principal4{
	background-color: #900;
	-webkit-transition-property: background-color, -webkit-transform;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0.5s;
	-webkit-transition-timing-function: ease-in-out;
}
#principal4:hover{
	background-color: #090;
	-webkit-transform: rotate(-360deg) scale(-2,-2) translate(50px,50px) skew(-10deg);
	-webkit-transform: rotate(-720deg);
}
