/* Estilos */
*{
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background-color: GhostWhite;
	display: inline-block;
	width: 100%;	
}
header, nav, section, article,aside, footer{
	border:1px solid DarkOrange;
}
header,nav,footer{
	text-align: center;
}
header,nav{
	width: 100%;
}
section{
	width: 70%;
	float: left;
}
footer{
	clear: both;
}

aside{
	width: 30%;
	float: right;
}
li {
	text-align: inherit;
	list-style: square;
	list-style-position: inside;
	display: inline-block;
	background-color: #aaf;
	padding: 0.2em;
}
section > article{
	width: 33.33333%;
	float: left;
}

@media screen and (max-width: 700px){
	li {
		display: block;
		background-color: #aaa;
	}
section {
		width: 100%;
	}
aside {
		width: 100%;
		float: left;
	}

}