/* Formulario*/
fieldset{
	margin-bottom: 1em;
}
label {
	font-weight: bold;
	display: block;
	margin-top: 0.5em;
}
/*
label.radio{
	display: inline;
	font-weight: normal;
}
input[type="reset"]{
	background-color: grey;
	color: white;
	font-size: 1.2em;
	border: none;
}
input[type="submit"] {
	background-color: blue;
	color: white;
	font-size: 1.2em;
	border: none;
}
*/
input:invalid{
	border:3px solid red;
}
